@font-face {
  font-family: 'Dubai-Bold';
  src:  url('./fonts/Dubai-Bold.eot') format('embedded-opentype'),  
        url('./fonts/Dubai-Bold.woff') format('woff'), 
        url('./fonts/Dubai-Bold.ttf')  format('truetype'), 
        url('./fonts/Dubai-Bold.svg') format('svg');
  font-weight: 700;
}

@font-face {
  font-family: 'Dubai-Medium';
  src:  url('./fonts/Dubai-Medium.eot') format('embedded-opentype'),  
        url('./fonts/Dubai-Medium.woff') format('woff'), 
        url('./fonts/Dubai-Medium.ttf')  format('truetype'), 
        url('./fonts/Dubai-Medium.svg') format('svg');
  font-weight: 600;
}

@font-face {
  font-family: 'Dubai-Regular';
  src:  url('./fonts/Dubai-Regular.eot') format('embedded-opentype'),  
        url('./fonts/Dubai-Regular.woff') format('woff'), 
        url('./fonts/Dubai-Regular.ttf')  format('truetype'), 
        url('./fonts/Dubai-Regular.svg') format('svg');
  font-weight: 400;
}

@font-face {
  font-family: 'Dubai-Light';
  src:  url('./fonts/Dubai-Light.eot') format('embedded-opentype'),  
        url('./fonts/Dubai-Light.woff') format('woff'), 
        url('./fonts/Dubai-Light.ttf')  format('truetype'), 
        url('./fonts/Dubai-Light.svg') format('svg');
  font-weight: 300;
}

*{
  color: #222;
  font-family: 'Dubai-Regular', Helvetica, roboto, sans-serif;
  text-rendering: geometricPrecision;
}

.nameLogo {
  height: 80px;
  margin: 15px auto 10px auto;
}

i:focus, i:active {
    outline: none;
}

body {
  background: #fefefe;
}

h3{
  color: #bbb;
  font-size: 15px;
  margin: 0;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 2px;
}

h2, h4{
  color: #111;
  font-size: 16px;
  margin: 10px auto 40px auto;
  font-family: 'Dubai-Bold', Helvetica, roboto, sans-serif;    
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 2px;
  line-height: 2;
}

h2 {
  font-size: 18px;
  margin: 50px auto 35px auto;
}

.emoji {
  transform: translateY(-3px);
  height: 32px;
}

.highlight{
  color:#EB298C !important;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: solid 2px transparent;  
  word-spacing: 2px;
  transition: border-color 50ms linear;
}

.highlight:hover, .highlight:active{
  text-decoration: none !important;
  color:#EB298C !important;
  border-color: #eb298c;
}

p, input, textarea {
  color: #666;
  line-height: 2.5;
  font-size: 16.5px;
  letter-spacing: 1px;
}

p {
  margin-bottom: 25px;
}

.wrapper{
  padding: 0 0 50px 0;
  max-width: 540px;
  margin: auto;
}

.cus-container{
  max-width: 540px;
  margin: auto;
}

.icon{
  width: 95px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 40px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 40px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 40px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1);
}

section{
  padding-top: 120px;
}

#sendButton{
  font-family: 'Dubai-Bold', Helvetica, roboto, sans-serif;    
}

/* global and mixed styling ends */

header{
  padding-bottom: 0;
  border-bottom: solid 1px transparent;
}

.paraLinks{
  color: #5694f1 !important;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  border-bottom: solid 2px transparent;
  transition: border-color 50ms linear;  
}

.paraLinks:hover, .paraLinks:active{
  text-decoration: none !important;
  color: #5694f1 !important;
  border-color: #5694f1;
}

.videoLink {
  color: #673AB7;
}

/* header styling ends */

input{
 height: auto;
}

textarea{
  height: 100px;
  padding-top: 0;
}

textarea, input{
  line-height: 1;
  width: 300px;
  color: #aaa;
  padding: 8px;
  font-family: 'Dubai-Bold', Helvetica, roboto, sans-serif;    
  border-radius: 0;
  background: none;
  border: 3px solid #bbb;
  margin-bottom: 25px;
  font-size: 14px;
  text-transform: uppercase;
}

::-webkit-input-placeholder {
  color: #bbb;
  font-size: 14px;
  opacity: 1;
}

:-moz-placeholder { /* Firefox 18- */
  color: #bbb;
  font-size: 14px;
  opacity: 1;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #bbb;
  font-size: 14px;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #bbb;
  font-size: 14px;
  opacity: 1;
}

#sendButton.btn.btn-default{
  background: transparent;
  border: solid 3px #F6C37A;
  border-radius: 0;
  display: block;
  text-transform: uppercase;
  color: #F6C37A;
  -o-transition: linear color .1s .15s, linear background .1s .15s;
  -ms-transition: linear color .1s .15s, linear background .1s .15s;
  -moz-transition: linear color .1s .15s, linear background .1s .15s;
  -webkit-transition: linear color .1s .15s, linear background .1s .15s;
  transition: linear color .1s .15s, linear background .1s .15s;
  font-size: 14px;
  height: auto;
  width: auto;
  letter-spacing: 1px;
  word-spacing: 1px;
  padding: 10px 15px;
}

#sendButton.btn.btn-default:hover{
  color: #fff;
  background-color: rgba(246, 195, 122, 0.52);
}

.contact .col-xs-9>p{
  padding-bottom: 20px;
}

a, a>p, a:active, a:hover, a>p:active, a>p:hover {
  text-decoration: none !important;
  outline: none !important;
}


/* contact form section styling ends */

footer{
  border-top: solid 1px transparent;
}

.social-icons {
  height: 30px;
  width: 30px;
  margin: 0 6px;
  line-height: 1 !important;
  background: transparent;
  display: inline-block;
  -o-transition: linear background .1s .15s;
  -ms-transition: linear background .1s .15s;
  -moz-transition: linear background .1s .15s;
  -webkit-transition: linear background .1s .15s;
  transition: linear background .1s .15s;  
}

.fa{
  -o-transition: linear color .1s .15s;
  -ms-transition: linear color .1s .15s;
  -moz-transition: linear color .1s .15s;
  -webkit-transition: linear color .1s .15s;
  transition: linear color .1s .15s;
}

.fa{
  font-size: 11px;
  vertical-align: middle;
  line-height: 26px;
}

.fa-github{
  color: #4183c4;
}

.si-github{
  border: solid 3px #4183c4;
  background-color: none;
}

.si-github:hover{
  background-color: rgba(65, 131, 196, 0.5);
}

.fa-linkedin{
  color: #0976b4;
}

.si-linkedin{
  border: solid 3px #0976b4;
}

.si-linkedin:hover{
  background-color: rgba(9, 118, 180, 0.5);
}

.fa-reddit-alien{
  color: #dc4e41;
}

.si-reddit-alien{
  border: solid 3px #dc4e41;
}

.si-reddit-alien:hover{
  background-color: rgba(220, 78, 65, 0.5);
}

.fa-twitter{
  color: #55acee;
}

.si-twitter{
  border: solid 3px #55acee;
}

.si-twitter:hover{
  background-color: rgba(85, 172, 238, 0.5);
}

.fa-envelope-o{
  color: #222;
  vertical-align: middle;
  font-weight: 700 !important;
}

.si-envelope{
  border: solid 3px #222;
}

.si-envelope:hover{
  background-color: rgba(34, 34, 34, 0.5);
}

.social-icons:hover > .fa{
  color: white;
}

#social-network{
  margin-top: 70px;
}

.small p{
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.lastPara > p {
  margin-top: 20px;
  color: #bbb;
}

.lastPara p:first-child {
  margin-top: 30px;
}

/* footer styling ends */

.pcode {
  color: #5694f1 !important;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 2px;
  border-bottom: solid 2px transparent;
  transition: border-color 50ms linear;
}

.pcode:hover {
  border-color: #5694f1;
}

.ptech>span {
  font-family: 'Dubai-Bold', Helvetica, roboto, sans-serif;    
  color: #484747;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 2px;

}

.pname {
  margin: 30px auto 40px auto;
}

.pimg{
  width: 100%;
  border-radius: 0px;
  height: 300px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 50px 90px -30px rgba(212, 206, 206, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 50px 90px -30px rgba(212, 206, 206, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 50px 90px -30px rgba(212, 206, 206, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.cpara, .lapara {
  display: inline-block;
  width: 50%;
  margin-top: 20px;
}

.cpara {
  float: right;
  text-align: right;
}

.nLWrapper {
  position: relative;
}

.nLWrapper > h2 {
  letter-spacing: 0 !important;
  font-size: 35px;
  z-index: 2;
  background: #fefefe;
  transition: opacity .15s ease;
  line-height: 1;
}

.nLWrapper > h2:hover {
  opacity: 0;
}

.nLWrapper:after {
  content: 'Arshad Khan';
  font-size: 22px;
  position: absolute;
  left: 50%;
  top: calc(50% + 10px);
  transform: translate(-50%, -50%);
  z-index: -1;
  font-family: 'Dubai-Bold', Helvetica, roboto, sans-serif;    
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 2px;
  line-height: 2;
}

/* project page styling ends*/

@media screen and (max-width: 640px) {
  
  .nLWrapper > * {
    font-size: 23px;
  }  

  .nLWrapper:after {
    font-size: 18px;
  }  

}

@media screen and (max-width: 520px) {
  .icon{
    width: 70px;
  }

 
  textarea, input{
    width: 209px;
  }

  #sendButton{
    width: 75px;
  }

  .pimg{
    height: 250px;
  }

}
