* {
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  text-rendering: geometricPrecision;
  box-sizing: border-box;
}

.nameLogo {
  height: 80px;
  margin: 15px auto 6px auto;
}

i:focus,
i:active {
  outline: none;
}

body {
  background: #fefefe;
  margin: 6px 0;
}

.text-center {
  text-align: center;
}

.flex .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.col-xs-3 {
  flex-grow: 1;
}

.col-xs-9 {
  flex-grow: 3;
}

.col-xs-12 {
  width: 100%;
  overflow: auto;
}

h3 {
  color: #bbb;
  font-size: 14px;
  margin: 0;
  line-height: 28px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 2px;
}

h3.sub {
  margin-top: 20px;
  text-align: center;
}

h3 img {
  width: 70px;
  margin-left: 3px;
  display: inline;
  vertical-align: text-bottom;
}

h2,
h4 {
  color: #111;
  font-size: 14px;
  margin: 14px auto;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 2px;
  line-height: 2;
}

h2 {
  font-size: 28px;
  margin: 50px auto 15px auto;
}

.navbar {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 0 15px;
  margin-top: 40px;
  margin-bottom: -50px;
}

.navbar a {
  color: #bbb;
  font-size: 12px;
  padding: 0 4px;
  transition: all 150ms ease-in-out;
}

.navbar a:hover {
  color: #666;
  border-color: #666;
}

.emoji {
  transform: translateY(-3px);
  height: 32px;
}

.highlight {
  color: #eb298c !important;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: solid 2px transparent;
  word-spacing: 2px;
  transition: border-color 50ms linear;
}

.highlight:hover,
.highlight:active {
  text-decoration: none !important;
  color: #eb298c !important;
  border-color: #eb298c;
}

p,
input,
textarea {
  color: #666;
  line-height: 2.5;
  font-size: 14px;
  letter-spacing: 1px;
}

p {
  margin: 14px 0;
}

p > b {
  color: inherit;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: bold;
}

.wrapper {
  padding: 0 20px 80px;
  max-width: 650px;
  margin: auto;
}

.cus-container {
  max-width: 540px;
  margin: auto;
}

.icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0px 30px 20px -10px rgba(0, 0, 0, 0.3),
    0px 0px 20px rgba(0, 0, 0, 0.1);
}

#logoIcon {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
}

#logoIcon img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

section {
  padding-top: 120px;
  overflow: auto;
}

.row {
  display: flex;
}

/* global and mixed styling ends */

header {
  padding-bottom: 0;
  border-bottom: solid 1px transparent;
}

.paraLinks {
  color: #5694f1 !important;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  border-bottom: solid 2px transparent;
  transition: border-color 50ms linear;
}

.paraLinks:hover,
.paraLinks:active {
  text-decoration: none !important;
  color: #5694f1 !important;
  border-color: #5694f1;
}

.videoLink {
  color: #673ab7;
}

/* header styling ends */

input {
  height: auto;
}

textarea {
  height: 100px;
  padding-top: 0;
  resize: none !important;
}

textarea,
input {
  line-height: 1.3;
  width: 100%;
  color: #aaa;
  padding: 8px;
  border-radius: 0;
  background: none;
  border: 2px solid #bbb;
  font-weight: 400;
  margin-bottom: 25px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
  opacity: 1;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #ccc;
  font-size: 13px;
  opacity: 1;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc;
  font-size: 13px;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #ccc;
  font-size: 13px;
  opacity: 1;
}

#sendButton.btn.btn-default {
  background: transparent;
  border: solid 2px #f6c37a;
  border-radius: 0;
  display: block;
  text-transform: uppercase;
  background-color: rgba(246, 195, 122, 0.52);
  color: #fff;
  -o-transition: linear color 0.1s 0.15s, linear background 0.1s 0.15s;
  -ms-transition: linear color 0.1s 0.15s, linear background 0.1s 0.15s;
  -moz-transition: linear color 0.1s 0.15s, linear background 0.1s 0.15s;
  -webkit-transition: linear color 0.1s 0.15s, linear background 0.1s 0.15s;
  transition: linear color 0.1s 0.15s, linear background 0.1s 0.15s;
  font-weight: 700;
  font-size: 13px;
  height: auto;
  width: 100%;
  letter-spacing: 1px;
  word-spacing: 1px;
  padding: 10px 15px;
  transition: all 150ms ease-in-out;
}

#sendButton.btn.btn-default:hover {
  color: #fff;
  background-color: #f6c37a;
  cursor: pointer;
}

.contact .col-xs-9 > p {
  padding-bottom: 20px;
}

a,
a > p,
a:active,
a:hover,
a > p:active,
a > p:hover {
  text-decoration: none !important;
  outline: none !important;
}

/* contact form section styling ends */

footer {
  border-top: solid 1px transparent;
}

.small p {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.lastPara > p {
  color: #bbb;
  font-size: 12px;
}

/* footer styling ends */

.pcode {
  color: #5694f1 !important;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 2px;
  border-bottom: solid 2px transparent;
  transition: border-color 50ms linear;
}

.pcode:hover {
  border-color: #5694f1;
}

.ptech > span {
  color: #484747;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.pname {
  margin: 30px auto 14px auto;
}

.pimg-wrapper {
  height: 300px;
}

.pimg {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 70px 40px -50px rgba(0, 0, 0, 0.2),
    0px 3px 20px rgba(0, 0, 0, 0.1);
}

.cpara,
.lapara {
  display: inline-block;
  width: 50%;
  margin: 14px 0;
}

.cpara {
  float: right;
  text-align: right;
}

/* project page styling ends*/

@media screen and (max-width: 640px) {
  #logoName {
    font-size: 2.3em;
  }

  #logoName.scheherazade {
    font-size: 6em;
  }
}

.error-alert {
  background: #ffdddd;
  border-left: 6px solid #f44336;
  margin-bottom: 15px;
  padding: 10px 15px;
  color: #a94442;
  border-radius: 5px;
}

section.error-section {
  padding-top: 110px !important;
  margin-bottom: -80px !important;
}

section,
section .row,
section .col-xs-12,
section .col-xs-3 {
  overflow: visible;
}

.title-text {
  width: 70%;
  margin: 40px 0 0;
}

#title-text-projects,
#title-text-music {
  width: 45%;
}

form {
  margin-top: 14px;
}

html {
  border: 20px solid #f7f7f7;
  box-sizing: border-box;
  min-height: 100%;
}

.icon.square,
.icon.square img {
  border-radius: 0px !important;
  box-shadow: none !important;
}

.box {
  box-shadow: 0px 70px 40px -50px rgba(0, 0, 0, 0.2),
    0px 3px 20px rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
  border-radius: 5px;
  flex: 1;
  background: rgba(255, 255, 255, 1);
}

.sc-link {
  color: #f75422 !important;
}

.mc-link {
  color: #4f00fb !important;
}

.yt-link {
  color: #ff0000 !important;
}

.link:hover,
.link:active {
  text-decoration: none !important;
  border-bottom: solid 2px currentColor;
}

.music .row {
  gap: 0 !important;
}

.music .row .right {
  margin: -70px 0 0 -30px;
  position: relative;
  z-index: -2;
}

.music .row .left {
  margin: -70px -30px 0 0;
}

.music section:not(#header) {
  padding-top: 190px;
}

@media screen and (max-width: 520px) {
  .icon {
    width: 80px;
    height: 80px;
  }

  .music .row .left {
    margin: -50px -40px 0 0;
  }
  .music .row .right {
    margin: -50px 0 0 -40px;
  }

  .music section:not(#header) {
    padding-top: 160px;
  }

  #logoIcon {
    width: 100px;
    height: 100px;
  }

  #sendButton {
    width: 75px;
  }

  .pimg-wrapper {
    height: 250px;
  }

  .navbar {
    gap: 15px;
  }

  .flex .row {
    gap: 20px;
  }

  .navbar a {
    font-size: 10px;
  }

  h3.sub {
    font-size: 12px;
  }
}

.iframe-wrapper {
  margin-bottom: 20px;
}

.box.booking-box {
  max-width: 300px;
  margin: 0 auto 25px auto;
  position: relative;
  padding: 0 !important;
  background: rgba(255, 255, 255, 0.95);
  transition: all 150ms ease-in-out;
  box-shadow: none !important;
  border-radius: 5px !important;
}

.glow-on-hover:hover:before {
  animation: glowing 7s ease-in-out infinite;
}

.box.booking-box a {
  padding: 20px 10px;
  display: flex;
  position: relative;
  top: 0px;
  transition: all 150ms ease-in-out;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.booking-box p {
  text-align: center;
  color: #222;
  margin: 0;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 12px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 5px;
  outline: none;
  border: none;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@webkitkeyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
