@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Scheherazade);

*{
  color: #222;
}

body {
  background: url(../images/bg.png);
}

h3{
  color: #aaa;
  font-size: 20px;
  margin: 0;
  line-height: 28px;
}

h4{
  color: #333;
  font-size: 20px;
  margin-bottom: 20px;
}

.highlight{
  color:#EB298C !important;
}

.highlight:hover, .highlight:active{
  text-decoration: none !important;
  color:#EB298C !important;
}

p{
  color: #666;
  line-height: 1.7;
  font-size: 16px;
}

.wrapper{
  padding: 0 0 50px 0;
  max-width: 540px;
  margin: auto;
}

.cus-container{
  max-width: 540px;
  margin: auto;
}

.icon{
  width: 95px;
  border-radius: 50%;
  box-shadow: 0px 0px 40px 0px rgba(127,127,127,.2) !important;
}

section{
  padding-top: 70px;
}

#sendButton{
  font-family: 'Montserrat', sans-serif !important;
}

/* global and mixed styling ends */

#logoName {
  font-weight: 700;
  font-size: 3.3em;
  letter-spacing: 1px;
}

#logoName.scheherazade {
  font-size: 7em;
  font-weight: 500;
  line-height: .9;
  font-family: 'Scheherazade', serif;
  text-shadow: 3px 3px 0px rgba(85, 147, 241, .2), 5px 6px 1px RGBA(235, 40, 140, .2);
}

header{
  padding-bottom: 30px;
  border-bottom: solid 1px #eee;
}

.paraLinks{
  color: #5694f1 !important;
}

.paraLinks:hover, .paraLinks:active{
  text-decoration: none !important;
  color: #5694f1 !important;
}
/* header styling ends */
input, textarea{
  border-radius: 0;
  background: none;
  border: 2px solid #aaa;
  font-weight: 500;
  margin-bottom:12px;
}

input{
 height: 36px;
}

textarea{
  height: 100px;
  padding-top: 3px;
}

textarea, input{
  width: 300px;
  font-size: 16px;
  color: #aaa;
  padding-left: 10px;
  padding-right: 10px;
}

::-webkit-input-placeholder {
  color: #aaa;
  font-size: 16px;
  opacity: 1;
}

:-moz-placeholder { /* Firefox 18- */
  color: #aaa;
  font-size: 16px;
  opacity: 1;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #aaa;
  font-size: 16px;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #aaa;
  font-size: 16px;
  opacity: 1;
}

#sendButton.btn.btn-default{
  border: solid 2px #F6C37A;
  border-radius: 0;
  text-transform: uppercase;
  display: block;
  color: #F6C37A;
  -o-transition: color .4s;
  -ms-transition: color .4s;
  -moz-transition: color .4s;
  -webkit-transition: color .4s;
  transition: color .4s;
  padding: 12px 15px 13px 15px;
  font-weight: 500;
  width: 75px;
  height: 44px;
}

#sendButton.btn.btn-default:hover{
  color: #fff;
  background-color: #F6C37A;
}

.contact .col-xs-9>p{
  padding-bottom: 20px;
}

a, a>p, a:active, a:hover, a>p:active, a>p:hover {
  text-decoration: none !important;
  outline: none !important;
}


/* contact form section styling ends */

footer{
  border-top: solid 1px #eee;
}

.social-icons{
  height: 28px;
  width: 28px;
  margin: 0 2px;
  display: inline-block;
}

.fa{
   -o-transition: color .4s;
  -ms-transition: color .4s;
  -moz-transition: color .4s;
  -webkit-transition: color .4s;
  transition: color .4s;
}

.fa{
  font-size: 11px;
  vertical-align: middle;
  padding: 0 0 3px 0;
}

.fa-github{
  color: #4183c4;
}

.si-github{
 border: solid 2px #4183c4;
  background-color: none;
}

.si-github:hover{
  background-color: #4183c4;
}

.fa-linkedin{
  color: #0976b4;
}

.si-linkedin{
  border: solid 2px #0976b4;
}

.si-linkedin:hover{
  background-color: #0976b4;
}

.fa-reddit-alien{
  color: #dc4e41;
}

.si-reddit-alien{
  border: solid 2px #dc4e41;
}

.si-reddit-alien:hover{
  background-color: #dc4e41;
}

.fa-twitter{
  color: #55acee;
}

.si-twitter{
  border: solid 2px #55acee;
}

.si-twitter:hover{
  background-color: #55acee;
}

.fa-envelope{
  color: #222;
  font-weight: 600;
  vertical-align: middle;
}

.si-envelope{
  border: solid 2px #222;
}

.si-envelope:hover{
  background-color: #222;
}

.social-icons:hover > .fa{
  color: white;
}

#social-network{
  margin-top: 40px;
}

.small p{
  font-size: 15px;
}

.lastPara > p {
  margin-top: 20px;
  color: #aaa;
}

/* footer styling ends */

.pcode {
  color: #5694f1 !important;
}

.ptech>span {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
  color: #666;
}

.pname {
  margin-top: 20px;
}

.pimg{
  width: 100%;
  border-radius: 3px;
  height: 300px;
  box-shadow: 0px 0px 40px 0px rgba(127,127,127,.15) !important;
}

/* project page styling ends*/

@media screen and (max-width: 640px) {
    #logoName{
        font-size: 2.3em;
    }

}

@media screen and (max-width: 520px) {
  .icon{
    width: 70px;
  }
  #logoIcon{
    width: 80px;
  }

  textarea, input{
    width: 209px;
  }

  #sendButton{
    width: 75px;
  }

  .pimg{
    height: 250px;
  }

}
